*.py[co]
baselines/
/****/.ipynb_checkpoints/
/***/.ipynb_checkpoints/
/**/.ipynb_checkpoints/
/*/.ipynb_checkpoints/
.ipynb_checkpoints
/****/__pycache__/
/***/__pycache__/
/**/__pycache__/
/*/__pycache__/
__pycache__
*.txt
*.tune
*.ipynb
notebooks/
logs/
